*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Poppins';
}

.header{
    background-color: rgb(222, 184, 135);
    position: sticky;
    overflow: hidden;
}

.header nav img{
    width: 150px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-links ul{
    text-align: right;
    display: flex;
    padding-top: 8px;
    margin-right: 3rem;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-left: 2rem;
    padding-bottom: 12px;
    position: relative;
}


.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown{
    display: none;
    background-color: rgba(222, 184, 135,0.4);
}

.nav-links ul li:hover .dropdown{
    display: block;
    position: fixed;
    margin-top: 0.6rem;
    font-size: 14px;
}

.nav-links ul li:hover .dropdown ul{
    display: block;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.nav-links ul li:hover .dropdown ul li{
    text-align: left;
    padding-left: 2%;
}

.nav-links ul li .dropdown .row td{
    text-align: left;
    padding: 6px;
}

.nav-links ul li:hover .dropdown .row{
    table-layout: fixed;
    width: 30.5rem;
}


/* introduction */
.introduction{
    height: 92.5vh;
    background-image: url(image/college.jpg);
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.introduction h1{
    font-size: 50px;
    text-align: center;
    color:rgb(255, 255, 255);
}


.hero-btn{
    background-color: #1c87c9;
    border: none;
    padding: 20px 34px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.hero-btn a{
    text-decoration: none;
}
/* About us */
.about_us{
    margin: 1rem;
}
.about_us h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
.about_us .para pre{
    padding: 1rem;
}

.about_us img{
    width: 20rem;
    height: 10rem;
    transform: skewX(-20deg);
}

.about_us .para{
    display: flex;
    justify-content: space-around;
}

/* Featured-Course */
.course .hero-btn{
    background-color: indianred;
    border-radius: 20px;
    padding: 12px 18px;
    font-size: 18px;
}


/* Footer */
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #c4c4c4;
    padding: 1.8rem;
}

.footer .align{
    display: flex;
    padding: 6px;
}

.footer .list ul li{
    list-style: none;
    padding-bottom: 2px;
    margin-left: 8px;
}

.quicklinks p{
    font-size: 20px;
    margin-left: -30px;
}

.quicklinks ul li{
    padding-bottom: 4px;
}

.aboutus .about{
    font-size: 20px;
    font-weight: bolder;
}

.aboutus p{
    font-size: 20px;
    text-align: justify;
}