*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Poppins';
}

.header{
    background-color: rgb(222, 184, 135);
    position: sticky;
}

.header nav img{
    width: 150px;
    margin-left: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-links ul{
    text-align: right;
    display: flex;
    padding-top: 8px;
    margin-right: 3rem;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-left: 2rem;
    padding-bottom: 12px;
    position: relative;
}


.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown{
    display: none;
    background-color: rgba(222, 184, 135,0.4);
}

.nav-links ul li:hover .dropdown{
    display: block;
    position: fixed;
    margin-top: 0.6rem;
    font-size: 14px;
}

.nav-links ul li:hover .dropdown ul{
    display: block;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.nav-links ul li:hover .dropdown ul li{
    text-align: left;
    padding-left: 2%;
}

.nav-links ul li .dropdown .row td{
    text-align: left;
    padding: 6px;
}

.nav-links ul li:hover .dropdown .row{
    table-layout: fixed;
    width: 30.5rem;
}


/* introduction */
.introduction{
    height: 92.5vh;
    background-image: url(image/college.jpg);
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.introduction h1{
    font-size: 50px;
    text-align: center;
    color:rgb(255, 255, 255);
}


.hero-btn{
    background-color: #1c87c9;
    border: none;
    padding: 20px 34px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.hero-btn a{
    text-decoration: none;
}
/* About us */
.about_us{
    margin: 1rem;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.slideshow{
    overflow: hidden;
    height: 25rem;
    width: 37rem;
    margin: 0 auto;
    background-color: rgb(92, 126, 41);
    transform: skewX(-20deg);
}

.slide{
    float: left;
    height: 25rerm;
    width: 37rem;
}

.slide img{
    width: 50rem;
    height: 25rem;
    transform: skewX(20deg);
}


.slide-wrapper{
    width: calc(37rem*4);
    animation: slide 10s ease infinite;
}
@keyframes slide {
    20%{
        margin-left: 0;
    }
    40%{
        margin-left: calc(-37rem*1);
    }
    60%{
        margin-left: calc(-37rem*2);
    }
    80%{
        margin-left: calc(-37rem*3);
    }
    
}

.about_us .para pre{
    padding: 1rem;
}



.about_us .para{
    display: flex;
    justify-content: space-around;
}
.about_us pre{
    margin-top: 2.2rem;
}

/* Featured-Course */
.course{
    background-color: rgb(114, 114, 114);
}
.course .hero-btn{
    background-color: rgb(94, 84, 84);
    border-radius: 20px;
    padding: 12px 18px;
    font-size: 18px;
}

/* flashcard */
.flashcard{
    display: flex;
    place-items: center;
    justify-content: space-around;
}
.card{
    width: 24rem;
    height: 24rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    margin: 1rem;
}

.card:hover {
    box-shadow: 0 0rem 0.1rem 0.2rem rgba(58, 52, 52, 0.4);
}

.card img{
    width: 24rem;
    height: 13rem;
    border-radius: 1.6rem 1.6rem 0 0;
    /* padding: 1rem; */
}
.card h3{
    margin-bottom: 6px;
}
.card p, .readmore p, .card h3{
    padding: 4px;    
    margin-left: 1rem;
}
.readmore .hero-btn{
    margin-left: 1rem;
}
/* Distuinguished Alumni */
.alumni .card{
    border-radius: 0;
    height: 30rem;
    width: 30rem;
    border: 1px solid #000
}
.alumni .card .title{
text-align: center;
}

.alumni .card img{
    border-radius: 0;
    width: 10rem;
    height: 12rem;
    align-items: center;
}
.alumni .card h3{
    color: cadetblue;
    font-size: 20px;
}
.alumni .card h5{
    color: red;
    font-size: 16px;
    margin-bottom: 6px;

}
.alumni .card p{
    text-align: justify;

}
/* Footer */
.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(58, 52, 52, 0.4);
    padding: 1.8rem;
}

.footer .align{
    display: flex;
    padding: 6px;
}

.footer .list ul li{
    list-style: none;
    padding-bottom: 2px;
    margin-left: 8px;
}

.quicklinks p{
    font-size: 20px;
    margin-left: -30px;
}

.quicklinks ul li{
    padding-bottom: 4px;
}

.aboutus .about{
    font-size: 20px;
    font-weight: bolder;
}

.aboutus p{
    font-size: 20px;
    text-align: justify;
}