*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Poppins';
}
.header{
    background-color: burlywood;
}
.header nav img{
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-links ul{
    text-align: right;
    display: flex;
    padding-top: 8px;
    margin-right: 26px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.dropdown{
    display: none;
    background-color: gray;
}
.nav-links ul li:hover .dropdown{
    display: block;
    position: absolute;
    display: flex;
    margin-top: 0.6rem;
    font-size: 14px;
}

.nav-links ul li:hover .dropdown ul{
    display: block;
    margin: 10px;
}
.nav-links ul li:hover .dropdown ul li{
    text-align: left;
    padding-left: 2%;
}
.nav-links ul li .dropdown .row td{
    text-align: left;
    padding: 6px;
}
.nav-links ul li:hover .dropdown .row{
    table-layout: fixed;
    width: 30.5rem;
}